# Posttest 1 Script

### Import Packaage

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("Starbucks_Locations_Worldwide.csv")

### Membaca Dataset

In [22]:
df

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,Starbucks,26153-218404,Plaza Trebol Concepcion,Licensed,"Av. José Pedro Alessandri 3177,, Local FC-205,...",Concepcion,BI,CL,4260000,NaN,GMT-04:00 America/Santiago,-73.07,-36.79
1997,Starbucks,26101-228785,Mall del Centro,Licensed,"Av. Barros Arana 1068, Local 12",Concepcion,BI,CL,NaN,NaN,GMT-04:00 America/Santiago,-73.04,-36.82
1998,Starbucks,29146-252586,Los Carrera Poniente N° 301,Licensed,"Los Carrera Poniente N° 301, Local BE-102",Concepcion,BI,CL,NaN,NaN,GMT-04:00 America/Santiago,-73.06,-36.83
1999,Starbucks,21500-212044,Rancagua Centro,Licensed,"Jose Bernardo Cuevas 405, Local 1070,, Rancagua",Rancagua,LI,CL,NaN,NaN,GMT-04:00 America/Santiago,-70.74,-34.17
2000,Starbucks,28956-250427,Sanatorio Aleman,Licensed,Pedro de Valdivia 801,Concepcion,RM,CL,NaN,NaN,GMT-04:00 America/Santiago,-73.05,-36.84

In [23]:
df.dtypes

Brand              object
Store Number       object
Store Name         object
Ownership Type     object
Street Address     object
City               object
State/Province     object
Country            object
Postcode           object
Phone Number       object
Timezone           object
Longitude         float64
Latitude          float64
dtype: object

### -Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [24]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64', 'float64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dictionary_no1 = {
    "total record": totalRecord,
    "Nama Attribute yang ada": namaAttribute,
    "Jumlah Objek": jumlahObjek,
    "Jumlah Angka": jumlahAngka,
    "Jumlah NULL": jumlahNULL,
}

pd.Series(dictionary_no1)

total record                                                            2001
Nama Attribute yang ada    Index(['Brand', 'Store Number', 'Store Name', ...
Jumlah Objek                                                              11
Jumlah Angka                                                               2
Jumlah NULL                                                                2
dtype: object

### -Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

### Tampilkan Nilai rata-rata dengan fungsi mean()

In [25]:
df.select_dtypes(include=['int64', 'float64']).mean()

Longitude   -71.722139
Latitude     36.203258
dtype: float64

### Tampilkan Nilai rata-rata dengan fungsi min()

In [26]:
df.select_dtypes(include=['int64', 'float64']).min()

Longitude   -135.07
Latitude     -37.82
dtype: float64

### Tampilkan Nilai rata-rata dengan fungsi max()

In [27]:
df.select_dtypes(include=['int64', 'float64']).max()

Longitude    153.43
Latitude      60.73
dtype: float64

### Tampilkan Nilai Q1, Q2, dan Q3 dengan fungsi quantile()

In [41]:
df.select_dtypes(include=['int64', 'float64']).quantile([0.20,0.4,0.80])

     Longitude  Latitude
0.2     -119.0     25.53
0.4      -83.0     43.77
0.8      -49.0     49.89

### -Tampilkan nilai korelasi attribute bertipe angka.

In [30]:
df.select_dtypes(include=['int64', 'float64']).corr()

           Longitude  Latitude
Longitude   1.000000 -0.446118
Latitude   -0.446118  1.000000

### -Rubah nilai salah satu attribute bertipe angka menjadi dari desimal menjadi bilangan bulat).

In [32]:
df.dtypes

Brand              object
Store Number       object
Store Name         object
Ownership Type     object
Street Address     object
City               object
State/Province     object
Country            object
Postcode           object
Phone Number       object
Timezone           object
Longitude         float64
Latitude          float64
dtype: object

In [33]:
df["Longitude"] = df["Longitude"].astype("int64")
df.dtypes

Brand              object
Store Number       object
Store Name         object
Ownership Type     object
Street Address     object
City               object
State/Province     object
Country            object
Postcode           object
Phone Number       object
Timezone           object
Longitude           int64
Latitude          float64
dtype: object

### -Tampilkan 10 record pertama dari attribute bertipe angka.

In [34]:
df.select_dtypes(include=['int64', 'float64']).head(10)

   Longitude  Latitude
0          1     42.51
1         55     25.42
2         55     25.39
3         54     24.48
4         54     24.51
5         54     24.40
6         54     24.40
7         54     24.46
8         55     24.19
9         54     24.48

### -Simpan dataset dengan attribute bertipe angka ke dalam file CSV

In [35]:
df.select_dtypes(include=['int64', 'float64']).to_csv("Starbucks_Angka_Locations_Worldwide.csv", index=False)