### POSTTEST4 KB

Wenny melati marpaung

2009106080

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

### Read Data

In [2]:
data = pd.read_csv('games.csv')

In [40]:
data.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,black,draw,white
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,0.0,0.0,1.0
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,1.0,0.0,0.0
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,0.0,0.0,1.0
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,0.0,0.0,1.0
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,0.0,0.0,1.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [5]:
data.shape

(20058, 16)

### Data Split

In [6]:
X = data.iloc[:,:-1] #mengambil semua elemen dataset tanpa terkecuali -1
y = data.iloc[:,-1]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [8]:

print("dimensi X_train : ",X_train.shape)
print("dimensi X_test : ",X_test.shape)
print("dimensi y_train : ",y_train.shape)
print("dimensi y_test : ",y_test.shape)

dimensi X_train :  (14040, 15)
dimensi X_test :  (6018, 15)
dimensi y_train :  (14040,)
dimensi y_test :  (6018,)

### Data Cleaning

In [9]:
#mengecek data null
data.isna().sum() #karena sdh null kita skip

id                0
rated             0
created_at        0
last_move_at      0
turns             0
victory_status    0
winner            0
increment_code    0
white_id          0
white_rating      0
black_id          0
black_rating      0
moves             0
opening_eco       0
opening_name      0
opening_ply       0
dtype: int64

### Menangani record duplicate

In [10]:
#tambah 20 record dari tail
data = data.append(data.iloc[0:20])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8752\1178726661.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(data.iloc[0:20])

In [11]:
data.shape

(20078, 16)

In [12]:
data.tail()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
15,guanvMR5,False,1.504090e+12,1.504090e+12,43,resign,black,15+15,sureka_akshat,1141,shivangithegenius,1094,e4 e5 Nf3 Nc6 Bc4 Nf6 Ng5 Qe7 O-O Nxe4 Nxe4 h6...,C57,Italian Game: Two Knights Defense | Knight At...,7
16,PmpkWkmm,False,1.504090e+12,1.504090e+12,52,resign,black,15+15,shivangithegenius,1094,sureka_akshat,1141,e4 e5 Nf3 Nc6 Bc4 Nf6 Nc3 Bc5 O-O O-O Ne1 d6 d...,C50,Four Knights Game: Italian Variation,8
17,EwaK0IsE,False,1.504010e+12,1.504010e+12,66,mate,black,15+16,sureka_akshat,1141,shivangithegenius,1094,e4 e5 Nf3 Nc6 Bc4 Nf6 Nc3 Bc5 O-O O-O Ne1 Ne8 ...,C50,Four Knights Game: Italian Variation,8
18,yrSDozT3,False,1.504010e+12,1.504010e+12,101,resign,black,15+15,shivangithegenius,1094,slam_ment,1300,e4 e5 Nf3 d6 Bc4 Be6 d3 Bxc4 dxc4 c5 O-O h6 Nc...,C41,Philidor Defense #3,5
19,x31mXlvc,False,1.503760e+12,1.503760e+12,25,resign,white,11+0,g-ios,1500,shivangithegenius,1094,d4 d5 h3 Nc6 Nf3 Nf6 Bg5 h6 Bxf6 exf6 e3 Bb4+ ...,D00,Queen's Pawn Game,2

In [13]:
data.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
15     True
16     True
17     True
18     True
19     True
Length: 20078, dtype: bool

In [14]:
data.duplicated().sum()

449

In [15]:
data[data.duplicated()]

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
950,XRuQPSzH,True,1.503580e+12,1.503580e+12,50,resign,black,10+0,chess-brahs,2036,cdvh,1706,Nf3 d5 g3 c5 Bg2 Nc6 d3 Nf6 O-O e5 Nc3 d4 Ne4 ...,A08,King's Indian Attack: French Variation,6
1794,x1Svcl0P,True,1.499820e+12,1.499830e+12,59,mate,white,10+0,kachess10204542,1171,quantummequanic,1432,c4 e5 Nc3 Nf6 Nf3 Nc6 g3 d5 cxd5 Nxd5 Bg2 Be6 ...,A29,English Opening: King's English Variation | F...,7
1830,wgIHzqDo,True,1.499710e+12,1.499710e+12,113,mate,white,10+0,quantummequanic,1403,barrow-wight,1364,e4 e6 e5 Bc5 d4 Be7 c3 Nh6 Bxh6 gxh6 Qd2 Bg5 f...,C00,French Defense: Steinitz Attack,3
2554,JrFxlGZo,False,1.489330e+12,1.489330e+12,78,mate,black,15+0,sp37578,1309,penguin100,1393,e4 d5 exd5 Qxd5 Nc3 Qe6+ Qe2 Qc6 d3 Bf5 Qf3 Be...,B01,Scandinavian Defense: Mieses-Kotroc Variation,4
2556,ezKACesj,False,1.488840e+12,1.488840e+12,51,mate,white,15+0,penguin100,1393,sp37578,1309,d4 d5 e3 Nf6 Nf3 b6 Nc3 Bb7 Bb5+ Nc6 Ne5 e6 O-...,D04,Queen's Pawn Game: Colle System,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,guanvMR5,False,1.504090e+12,1.504090e+12,43,resign,black,15+15,sureka_akshat,1141,shivangithegenius,1094,e4 e5 Nf3 Nc6 Bc4 Nf6 Ng5 Qe7 O-O Nxe4 Nxe4 h6...,C57,Italian Game: Two Knights Defense | Knight At...,7
16,PmpkWkmm,False,1.504090e+12,1.504090e+12,52,resign,black,15+15,shivangithegenius,1094,sureka_akshat,1141,e4 e5 Nf3 Nc6 Bc4 Nf6 Nc3 Bc5 O-O O-O Ne1 d6 d...,C50,Four Knights Game: Italian Variation,8
17,EwaK0IsE,False,1.504010e+12,1.504010e+12,66,mate,black,15+16,sureka_akshat,1141,shivangithegenius,1094,e4 e5 Nf3 Nc6 Bc4 Nf6 Nc3 Bc5 O-O O-O Ne1 Ne8 ...,C50,Four Knights Game: Italian Variation,8
18,yrSDozT3,False,1.504010e+12,1.504010e+12,101,resign,black,15+15,shivangithegenius,1094,slam_ment,1300,e4 e5 Nf3 d6 Bc4 Be6 d3 Bxc4 dxc4 c5 O-O h6 Nc...,C41,Philidor Defense #3,5
19,x31mXlvc,False,1.503760e+12,1.503760e+12,25,resign,white,11+0,g-ios,1500,shivangithegenius,1094,d4 d5 h3 Nc6 Nf3 Nf6 Bg5 h6 Bxf6 exf6 e3 Bb4+ ...,D00,Queen's Pawn Game,2

In [16]:
data.drop_duplicates(inplace=True)

In [17]:
data.duplicated().sum()

0

### Ubah tipe data

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19629 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              19629 non-null  object
 1   rated           19629 non-null  bool
 2   created_at      19629 non-null  float64
 3   last_move_at    19629 non-null  float64
 4   turns           19629 non-null  int64
 5   victory_status  19629 non-null  object
 6   winner          19629 non-null  object
 7   increment_code  19629 non-null  object
 8   white_id        19629 non-null  object
 9   white_rating    19629 non-null  int64
 10  black_id        19629 non-null  object
 11  black_rating    19629 non-null  int64
 12  moves           19629 non-null  object
 13  opening_eco     19629 non-null  object
 14  opening_name    19629 non-null  object
 15  opening_ply     19629 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.4+ MB

In [19]:
data['black_rating'] = data['black_rating'].astype(int)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19629 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              19629 non-null  object
 1   rated           19629 non-null  bool
 2   created_at      19629 non-null  float64
 3   last_move_at    19629 non-null  float64
 4   turns           19629 non-null  int64
 5   victory_status  19629 non-null  object
 6   winner          19629 non-null  object
 7   increment_code  19629 non-null  object
 8   white_id        19629 non-null  object
 9   white_rating    19629 non-null  int64
 10  black_id        19629 non-null  object
 11  black_rating    19629 non-null  int32
 12  moves           19629 non-null  object
 13  opening_eco     19629 non-null  object
 14  opening_name    19629 non-null  object
 15  opening_ply     19629 non-null  int64
dtypes: bool(1), float64(2), int32(1), int64(3), object(9)
memory usage: 2.3+ MB

### Data Transforming

### Normalisasi

In [21]:
min_max_scaler = MinMaxScaler()

In [23]:
x_scaled = min_max_scaler.fit_transform(data[['rated','created_at','last_move_at','turns','white_rating','black_rating','opening_ply']])

In [24]:
data_normalization = pd.DataFrame(x_scaled)

In [25]:
data_normalization.head()

     0         1         2         3         4         5         6
0  0.0  0.997783  0.997778  0.034483  0.373695  0.207859  0.148148
1  1.0  0.997157  0.997151  0.043103  0.280793  0.244054  0.111111
2  1.0  0.997157  0.997151  0.172414  0.371608  0.367632  0.074074
3  1.0  0.997000  0.996995  0.172414  0.341858  0.343847  0.074074
4  1.0  0.996374  0.996368  0.270115  0.385699  0.351603  0.148148

### Standarisasi

In [26]:
print("Nilai sebelum standarisasi")
print("Stadar Deviasi : ")
np.std(data)

Nilai sebelum standarisasi
Stadar Deviasi :

C:\Users\LENOVO\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

rated           3.955855e-01
created_at      2.809293e+10
last_move_at    2.809282e+10
turns           3.350200e+01
white_rating    2.901576e+02
black_rating    2.901571e+02
opening_ply     2.792720e+00
dtype: float64

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
ss = StandardScaler()

In [31]:
x_skala = min_max_scaler.fit_transform(data[['rated','created_at','last_move_at','turns','white_rating','black_rating','opening_ply']])

In [32]:
print("Nilai setelah standarisasi")
print("Stadar Deviasi : ")
np.std(x_skala)

Nilai setelah standarisasi
Stadar Deviasi :

0.35617057285328535

In [33]:
data_standarisasi = pd.DataFrame(x_skala)

In [34]:
data_standarisasi.head(5)

     0         1         2         3         4         5         6
0  0.0  0.997783  0.997778  0.034483  0.373695  0.207859  0.148148
1  1.0  0.997157  0.997151  0.043103  0.280793  0.244054  0.111111
2  1.0  0.997157  0.997151  0.172414  0.371608  0.367632  0.074074
3  1.0  0.997000  0.996995  0.172414  0.341858  0.343847  0.074074
4  1.0  0.996374  0.996368  0.270115  0.385699  0.351603  0.148148

### One hot encoding

In [36]:
data.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [38]:
encoder = OneHotEncoder(sparse=False)
area = encoder.fit_transform(data[["winner"]])

areas = pd.DataFrame(area)
data = data.join(areas)
data.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,0,1,2
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,0.0,0.0,1.0
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,1.0,0.0,0.0
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,0.0,0.0,1.0
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,0.0,0.0,1.0
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,0.0,0.0,1.0

In [39]:
data = data.rename(columns={
    0 : 'black',
    1 : 'draw',
    2 : 'white'
})

data.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply,black,draw,white
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5,0.0,0.0,1.0
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4,1.0,0.0,0.0
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3,0.0,0.0,1.0
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3,0.0,0.0,1.0
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5,0.0,0.0,1.0